In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('2-player-UR.csv')
df.head()

,Unnamed: 0,source,treatment,group,round,player,choice,score,attendance,ac_score,num_players,threshold
0,0,human,score + grid,Grupo-0001,1,405186428721292,0,0,1,25,2,0.5
1,1,human,score + grid,Grupo-0001,1,728608683559397,1,1,1,25,2,0.5
2,2,human,score + grid,Grupo-0001,2,405186428721292,1,1,1,25,2,0.5
3,3,human,score + grid,Grupo-0001,2,728608683559397,0,0,1,25,2,0.5
4,4,human,score + grid,Grupo-0001,3,405186428721292,0,0,1,25,2,0.5

In [4]:
df['threshold'] = 0.5
df.to_csv('2-player-UR.csv', index=False)

In [9]:
file_name = '8-player-IU.csv'
df = pd.read_csv(file_name)
df.head()

,treatment,threshold,round,player,decision,score,timeup,time,room,date,num_players
0,downwards,7.0,1.0,589037721408239,1.0,1.0,0.0,3631.0,7,12-13-2023,8
1,downwards,7.0,1.0,586994455133371,1.0,1.0,0.0,4885.0,7,12-13-2023,8
2,downwards,7.0,1.0,810776187068695,1.0,1.0,0.0,9049.0,7,12-13-2023,8
3,downwards,7.0,1.0,776347950518335,0.0,0.0,0.0,4979.0,7,12-13-2023,8
4,downwards,7.0,1.0,754052083594053,1.0,1.0,0.0,3332.0,7,12-13-2023,8

In [10]:
num_players = df['num_players'].unique()[0]
for threshold, grp in df.groupby('threshold'):
    name = file_name.split('.')[0]
    aux = grp.reset_index()
    aux['threshold'] = aux['threshold'] / num_players
    aux.to_csv(f'{name}-{int(threshold)}.csv')